.trans {
    transform: translate3d(0px, 0px, 0px);
  }
  .d-block {
    display: block;
  }
  .bao {
    width: 1400px;
    display: grid;
  height: auto;
  align-content: center;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  padding: 10px;
  margin: 80px auto;
  }
  .item {
    grid-column: 1 / span 3;
    grid-row: 3;
    margin-top: 12px;
  }
  .img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all .5s;
  }
  .img:hover {
    transform: translateY(5px) scale(1.05);
    
  }
  .cent {
    display: flex;
    justify-content: center;
  }
  .bl-wrapper {
    margin-top: 100px;
  }
  .right-text {
    text-align: right;
  }